/* 基本表格样式 */
table {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 2px 5px;
    border: 1px solid black;
}

thead {
    background: #ddd;
}

/* 表格默认样式 */
#results, #results_1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 2em;
}

#results th, #results_1 th {
    border: 1px solid #ddd;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    background-color: var(--UCLA-darkblue);
    color: white;
}

#results td, #results_1 td {
    border: 1px solid #ddd;
    padding: 8px;
}

#results tr:nth-child(even), #results_1 tr:nth-child(even) {
    background-color: #f5f5f5;
}

#results tr:hover, #results_1 tr:hover {
    background-color: #ddd;
}

/* 根据排序状态的背景色 */
#results.js-sort-0 tbody tr td:nth-child(1),
#results.js-sort-1 tbody tr td:nth-child(2),
#results.js-sort-2 tbody tr td:nth-child(3),
#results.js-sort-3 tbody tr td:nth-child(4),
#results.js-sort-4 tbody tr td:nth-child(5),
#results.js-sort-5 tbody tr td:nth-child(6),
#results.js-sort-6 tbody tr td:nth-child(7),
#results.js-sort-7 tbody tr td:nth-child(8),
#results.js-sort-8 tbody tr td:nth-child(9),
#results.js-sort-9 tbody tr td:nth-child(10),
#results.js-sort-10 tbody tr td:nth-child(11),
#results.js-sort-11 tbody tr td:nth-child(12),
#results.js-sort-12 tbody tr td:nth-child(13),
#results.js-sort-13 tbody tr td:nth-child(14),
#results.js-sort-14 tbody tr td:nth-child(15),
#results_1.js-sort-0 tbody tr td:nth-child(1),
#results_1.js-sort-1 tbody tr td:nth-child(2),
#results_1.js-sort-2 tbody tr td:nth-child(3),
#results_1.js-sort-3 tbody tr td:nth-child(4),
#results_1.js-sort-4 tbody tr td:nth-child(5),
#results_1.js-sort-5 tbody tr td:nth-child(6),
#results_1.js-sort-6 tbody tr td:nth-child(7),
#results_1.js-sort-7 tbody tr td:nth-child(8),
#results_1.js-sort-8 tbody tr td:nth-child(9),
#results_1.js-sort-9 tbody tr td:nth-child(10),
#results_1.js-sort-10 tbody tr td:nth-child(11),
#results_1.js-sort-11 tbody tr td:nth-child(12),
#results_1.js-sort-12 tbody tr td:nth-child(13),
#results_1.js-sort-13 tbody tr td:nth-child(14),
#results_1.js-sort-14 tbody tr td:nth-child(15) {
    background: #dee;
}

/* 鼠标悬停样式 */
.js-sort-number:hover, .js-sort:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* 特定文本样式 */
.best-score-text {
    color: #C6011F; /* 添加分号 */
}
