/* styles.css */

/* 
.container {
    position: relative;
    width: max-content; 
} */


.text-overlay {
    position: absolute;
    bottom: -40px;
    left: 0;
    padding: 1px;
    width: 100%;
    /* Ensures text spans the width of the video */
    box-sizing: border-box;
    /* Includes padding in width calculation */
    text-align: left;
    /* Align text to the left */
}