.carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel {
  display: flex;
  transition: transform 0.3s ease-in-out;
  margin: 0 20%;
}

.carousel video {
  min-width: 80%;
  margin: 0 5px;
}

.video-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  cursor: pointer;
  padding: 10px;
}

.video-button.left {
  left: 10px;
}

.video-button.right {
  right: 10px;
}