.carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-left: 20%;
  margin-right: 20%;
}

.carousel-1 {
  display: flex;
  position: relative;
  transition: transform 0.3s ease-in-out;
  margin-left: 0;
  margin-right: 0;
}

.carousel-1 video {
  min-width: 60%;
  position: relative;
  margin-left: 20%;
  margin-right: 20%;
}

.video-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  cursor: pointer;
  padding: 10px;
}

.video-button.left {
  left: 10px;
}

.video-button.right {
  right: 10px;
}