body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.video-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

video {
    width: 640px;
    /* 或者使用百分比如 100% */
    height: auto;
}

/* .control-button {
    background-color: white;
    border: none;
    color: black;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.control-button:hover {
    transform: scale(1.1);
} */

/* 自定义播放按钮 */
.control-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    background-color: rgba(255, 60, 60, 0.8);
    /* 半透明红色背景 */
    border-radius: 50%;
    /* 圆形按钮 */
    width: 60px;
    /* 按钮宽度 */
    height: 60px;
    /* 按钮高度 */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    /* 添加阴影 */
    transition: all 0.3s ease;
    /* 添加过渡效果 */
}

.control-button:hover {
    background-color: rgba(255, 60, 60, 1);
    /* 鼠标悬停时的背景颜色 */
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
    /* 鼠标悬停时的阴影 */
}

.control-button::before {
    content: "\25BA";
    /* 使用一个不同的Unicode播放图标 */
    font-size: 24px;
    color: #ffffff;
    /* 图标颜色改为白色 */
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    /* 添加文字阴影 */
    transition: all 0.3s ease;
    /* 添加过渡效果 */
    line-height: 60px;
    /* 调整图标的垂直位置 */
    letter-spacing: -3px;
    /* 调整图标的水平位置 */
}